* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.snap {
  height: 100dvh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.snap > section {
  height: 100%;
  scroll-snap-align: start;
}